h1,h2,h3,h4,h5,h6,p,figure
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 920px;
    margin: 0 auto;
}


#busqueda
{
   display: flex;
}

#encabezado 
{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

#encabezado figure
{
    margin: 0;
}

#titulos *
{
    margin: 0;
}

#titulos h1 {font-size: 1.2em;}
#titulos h2 {font-size: 1em;}
#titulos h3 {font-size: 0.9em;}
#titulos h4 {font-size: 0.8em;}


#barra-navegacion
{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

#barra-navegacion ul
{
    padding: 0;
}

#barra-navegacion li
{
    list-style-type: none;
    padding: 0;
}

#barra-navegacion > ul > li
{
    display: inline-block;
}

.submenu
{
    display: none;
}

#barra-navegacion li a
{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transform: 0.5px;
}


#barra-navegacion ul > li > a
{
    padding: 10px;
    background-color: darkgray;
    transition: 0.5s;
}

#barra-navegacion > ul > li >a:hover
{
    background-color: darkgray;
}

#barra-navegacion li ul
{
    display: none;
}

#nota-principal
{
    height: 385px;
    box-shadow: 0 0 15px darkgray;
    margin: 20px 0px 20px;
    border: 10px solid white;
}


#notas-secundarias
{
    width: 700px;
    float: left;
    min-height: 260px;
    display: inline-block;
    float: left;
 }

#notas-secundarias article
{
    display: flex;
    background-image: url(fondo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

figure
{
    margin: 0 0 20px;
}

#notas-secundarias figure
{
    position: relative;
}

#notas-secundarias figure span
{
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 5px 20px;
    background-color: lightgray;
    box-shadow: 1px 1px 3px darkgrey;
}

#notas-secundarias article div
{
    padding-left: 20px;
    padding-right: 10px;
}

#notas-secundarias article div p
{
    text-align: justify;
    margin: 10px 0;
}

#notas-secundarias article h2
{
    font-variant: small-caps;
    line-height: 0.9em;
    font-size: 1.8em;
}

#notas-secundarias a
{
    color: #b92025;
    text-decoration: none;
}

#notas-secundarias a:hover
{
    color: #2a6496;
    text-decoration: underline;
}

.sombra-imagen
{
    box-shadow: 0 0 5px darkgray;
}

.ver-mas div
{
    margin: 0 !important; 
    padding: 5px !important;
}

.ver-mas>div
{
    width: 100px;
    padding: 3px;
    height: 1.5em;
    background-color: #b92025;
    display: inline-block;
}

.ver-mas>div>div
{
    padding: 2px 20px;
    width: 87px;
    border: 1px solid white;
    height: 12px;
}

.ver-mas p
{
    color: white;
    font-weight: bold;
    display: inline-block;
}

article
{
    display: flex;
}

#publicidad
{
    width: 210px;
    float: right;
    padding: 5px;
    background-color: yellow;
    height: 290px;
    display: inline-block;
}

#pie
{
    clear: both;
    height: 150px;
    background-color: blue;
}


