.container
{
    width: 920px;
    margin: 0 auto;
}

.text-center
{
    text-align: center;
}

#encabezado
{
    height: 120px;
    display: flex;
    justify-content: space-between;
}

#encabezado figure, #titulos *
{
    margin: 0;
}

#titulos h1 {font-size: 1.5em;}
#titulos h2 {font-size: 1.2em;}
#titulos h3 {font-size: 0.9em;}
#titulos h4 {font-size: 0.8em;}


#barra-navegacion
{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: firebrick;
}

#barra-navegacion > ul
{
    padding: 0;
}

#barra-navegacion li
{
    display: inline-block;
    padding: 0;
}

.submenu
{
    display: none;
}

#barra-navegacion a
{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transform: 0.5px;
}

#barra-navegacion ul ul
{
    display: none;
}

#barra-navegacion > ul > li >a:hover
{
    background-color: red;
}

#nota-principal
{
    border: 10px solid;
    border-color: white;
    box-shadow: 0 0 10px darkgray;
    margin: 20px 0;
}

#notas-secundarias
{
    width: 660px;
    float: left;
    min-height: 260px;
    background-color: orange;
}

#notas-secundarias article
{
    display: flex;
}

figure
{
    margin: 20px 0;
}

#notas-secundarias figure
{
    position: relative;
}

#notas-secundarias figure span
{
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 5px 20px;
    background-color: lightgray;
    box-shadow: 1px 1px 3px darkgrey;
}
#publicidad
{
    width: 210px;
    float: right;
    padding: 5px;
    background-color: yellow;
    height: 290px;
}

#pie
{
    clear: both;
    height: 150px;
    background-color: blue;
}

